// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$bg-light: #FBFAF8;
$primary: #5EA7E8;
$primary-light: #3896E9;
$primary-dark: #0D49A6;
$gray: #676767;
$gray-light: #646464;
$gray-dark: #444444;
$border-color: #707070;
$border-light: #DCDCDC;
$white: #FFFFFF;
$error: #ff5252;

